.foot-area{
    background-color: #0073b1;
    position: relative;
    height: auto;
    overflow: hidden;
    font-family: Arial, serif;
    padding-bottom: 15px;
}

.logo_1{
    background-image: url("raw/logo_1.png");
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 30px;
}

.listing{
    float: right;
    margin-left: 300px;
    margin-right: 100px;
    padding: 20px 10px 20px 50px;
    overflow: hidden;
}

.lists{
    margin-right: 50px;
}

.floating_1, .floating_2, .floating_3{
    float: left;
}


.listing .lists:last-child{
    margin-right: 0;
}

.head{
    color: #ffffff;
    padding-left: 5px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
}

.items{
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
    padding: 5px;
    position: relative;
    width: 170px;
}

.items:hover{
    background: #ffffff;
    border-radius: 5px;
}

.items i{
    width: 10px;
    margin-right: 20px;
    color: #ffffff;
}

.items .label{
    color: #ffffff;
}

.items:hover i{
    color: #27496D;
}

.items:hover .label{
    color: #27496D;
}

.visit{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.isDisabled{
    pointer-events: none;
}

@media only screen and (max-width: 1050px) {

    .floating_3{
        margin-top: 50px;
        clear: both;
    }

}

@media only screen and (max-width: 940px) {

    .floating_2{
        margin-top: 50px;
        clear: both;
    }

}

@media only screen and (max-width: 630px) {

    .listing{
        float: left;
    }

    .logo_1{
        position: relative;
    }

    .listing{
        margin-left: 0;
    }

    .floating_1{
        clear: both;
    }

}
